

/* FooterSession */
.Footer{
    display: grid;
    grid-template-columns: repeat(4,auto);
    align-items: center;
    padding: 30px 50px;
}
.FooterImage{
    width: 80%;
    margin-left: 20px;
}
.DiscoverPage{
    margin-right: 30px;
}
.ContactPage{
    width: 50%;
}
.ContactPageDetail{
    display: flex;
}
.copywrite {
    padding: 5px;
    text-align: center;
}

.copywrite p {
    padding-top: 10px;
    font-family: sans-serif;
    font-size: 15px;
}

