

.Text-Box{
    
    padding: 3px;
}
.HeroImages{
    display: flex;
}
.HeroImg{
    border-radius: 20px;
    width: 100%;
    height: 250px;
}
.HeroVideo{
    border-radius: 25px;
    width: 100%;
    height: 250px;
    margin-top: 30px;
    padding: 0px 10px;
}
.HeroImg1{
    border-radius: 20px;
    width: 100%;
    height: 250px;   
    margin-top: 60px;
}
.Serching{
    display: flex;
    box-shadow: 0px 0px 3px  0px gray;
    margin: 10px auto;
    border-radius: 20px;
    width: 55%;
    padding: 6px;
}
.Serching .Border{
    display: flex;
    border-right: 2px solid #de601b;
}
.Serching .Border input{
    outline: none;
    border: none;
}

.Serching .Borders{
    display: flex;
}
.Serching .Borders input{
    outline: none;
    border: none;
}
.Serve{
    display: flex;
    /* border: 1px solid red; */
    padding: 40px;
}
/* services */
.Services{
    width: 40%;
    margin-left: 30px;
    border: 1px solid red;

}

.SImg{
    background-color: #de601b;
    border-radius: 50px;
    width: 20%;
    padding: 8px;
}
.SImg{
    background-color: #de601b;
    border-radius: 50px;
    width: 20%;
    padding: 8px;
}
.Serve .Border{
    padding: 30px;
    border: 1px solid red;

}

/* Explore Cards */

.container{
    width: 10px;
}

.card{
    margin: 20px 0px;
    box-shadow: 0px 0px 4px 0px gray;
    position: relative;

}

.card img{
    width: 100%;
}
.CardPrice{
    display: flex;
    justify-content: space-between;

}
.CardPrice .Button{
    background-color: #de601b;
    color: #ffff;
    outline: none;
    border: none;
    border-radius: 5px;

}
.Reviews{
    position: absolute;
    right: 10px;
}
.Bookings{
    display: flex;
}
.Bookings p{
    margin: 0px 10px;
}
.container button{
    outline: none;
    border: none;
    background-color: #faa935;
    border-radius: 20px;
}

/* experience  */
.ExpirenceCards{
    display: flex;
}
.ExpirenceCard{
    background-color: #de601b;
    padding: 10px;
    width: 50px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


/* Gallery Images */
.Gallerys{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 20px;
}
.Gallery1{
    width: 100%;
    box-shadow: 0px 0px 10px 0px gray;
    transition: transform 0.2s ease;
    cursor: pointer;
}
.Gallery1:hover{
    transform: scale(0.9) ;
}

/* SubscribePage */
.SubscribePage{
    background-color: #cae5f4;
    box-sizing: border-box;
    padding:1px 40px ;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SubscribeText{
    width: 98%;
}
.SubscribeInputPage {
    height: 50px;
    background-color: aliceblue;
    width: 410px;
    border-radius: 10px;
}
.SubscribeInputPage input{
    width: 300px;
    height: 50px;
    outline: none;
    border: none;
}
.SubscribeInputPage button{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #faa935;
}


