.carousel {
    width: 300px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-image {
    width: 100%;
    flex: 0 0 auto;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    z-index: 1;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  