

/* FooterSession */
.Footer{
    display: flex;
    align-items: center;
    padding: 30px 50px;
}
.FooterImage{
    width: 80%;
    margin-right: 20px;
}
.social-Media-Logos{
    display: flex;
    justify-content: space-evenly;
}

.DiscoverPage{
    margin-left: 30px;
}

.Custome-Link{
    text-decoration: none;
    color: #000000;
}
.ContactPage{
    width: 100%;
}


.ContactPageDetail{
    display: flex;
}
.copywrite {
    padding: 5px;
    text-align: center;
}

.copywrite p {
    padding-top: 10px;
    font-family: sans-serif;
    font-size: 15px;
}


