.Text-Box {

    padding: 3px;
}

.HeroImages {
    display: flex;
}

.HeroImages div {
    flex: 1;
}

.HeroImg {
    border-radius: 20px;
    width: 100%;
    height: 250px;
}

.HeroVideo {
    border-radius: 20px;
    width: 100%;
    height: 250px;
    margin-top: 30px;
    padding: 0px 10px;
}

.HeroImg1 {
    border-radius: 20px;
    width: 100%;
    height: 250px;
    margin-top: 60px;
}

.Serching {
    display: flex;
    box-shadow: 0px 0px 3px 0px gray;
    margin: 10px auto;
    border-radius: 20px;
    width: 55%;
    padding: 6px;
}

.search-results {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

 .Mark {
    width: 6%;
}

.search-results .SerchResultPage {
    font-size: 30px;
    font-style: oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Serching {
    box-shadow: 0px 1px 0px 1px 6px;
}

.Serching .Border {
    display: flex;
    border-right: 2px solid #de601b;
}

.Serching .Border input {
    outline: none;
    border: none;
}

.Serching .Borders {
    display: flex;
}

.Serching .Borders input {
    outline: none;
    border: none;
}

.Serve {
    display: flex;
    /* border: 1px solid red; */
    padding: 40px;
}

.SearchResultButton {
    padding: 5px 10px;
    margin: 6px;
    outline: none;
    border: none;
    background-color: #faa935;
    border-radius: 20px;
}

/* services */
.Services {
    width: 40%;
    margin-left: 30px;
    border: 1px solid red;

}

.SImg {
    background-color: #de601b;
    border-radius: 50px;
    width: 20%;
    padding: 8px;
}

.SImg {
    background-color: #de601b;
    border-radius: 50px;
    width: 20%;
    padding: 8px;
}

.Serve .Border {
    padding: 30px;
    border: 1px solid red;

}

/* Explore Cards */


.card {
    display: flex;
    margin: 20px 0px;
    box-shadow: 0px 0px 4px 0px gray;

}

.card img {
    width: 100%;
}

.card-city {
    display: flex;
}

.card-review {
    display: flex;
    justify-content: space-between;

}

.card-Book {
    display: flex;
    justify-content: space-between;

}

.card-button {
    background-color: #de601b;
    color: #ffff;
    outline: none;
    border: none;
    border-radius: 5px;

}

.card-Price-Book {
    display: flex;
    justify-content: space-between;
}

.ProductSerchingPage {
    border: 2px solid red;
    height: 60px;
    width: 500px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    /* padding: 10px; */

}

.ProductSerchingPage button {
    background-color: rgb(214, 184, 15);
    width: 100px;
    border-radius: 10px;
    margin: 7px;
    /* padding: 6px 5px; */
}

.ProductSerchingPage input {
    margin: 2px;
    height: 50px;
    outline: none;
    border: none;
}


/* single page application */

.SinglePage {
    display: flex;
}

.singlePageRight {
    padding: 20px 30px;
    height: 100%;
    margin-top: 30px !important;
}

.PriceOfPerson {
    text-align: center;
    padding: 10px;
    margin-top: 10px;

}

.Reviews {
    margin-top: 20px;
    border-radius: 10px;
}

.Bookings {
    padding: 10px;
    border-radius: 10px;
}

.Booking {
    display: flex;
    justify-content: space-between;
}


.Bookings p {
    margin: 10px;
}

.BookingInfo {
    margin-top: 40px;
    border-radius: 10px;
}
.ConfimedBooking{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-Address {
    display: flex;
}

.address {
    margin-left: 30px;

}

.Address-Location {
    display: flex;
    justify-content: space-between;
}

.Information {
    margin: 10px;
}

.Information input {
    border: none;
    border-bottom: 0.1px solid;
    margin: 15px;
    border-radius: 5px;
}

.DataInformation {
    display: flex;
}

.DataInformation input {
    width: 40%;
}

.product-Booking {
    width: 90%;
    padding: 5px 10px;
    margin: 6px;
    outline: none;
    border: none;
    background-color: #faa935;
    border-radius: 20px;
}

.DescriptionAddress {
    width: 100%;
    outline: none;
    border: none;
}

/* Reviews card css  */
.Reviews h5 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ratingStar {
    font-size: 35px;
}

.userReviews {
    border-radius: 5px;
    position: relative;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.userReviews img {
    width: 12.5%;
}

.name-date {
    position: absolute;
    top: 15px;
    left: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.name-date b {
    font-size: 20px;
}

.userReviews p {
    position: absolute;
    right: 15px;
    top: 45px;
}

.userReviews h6 {
    padding: 10px 80px;
}

.userRating {
    padding: 20px;
}


/* experience  */

.experienceSession {
    background-color: #faa935;
    width: 90px;
    border-radius: 20px;
    padding-left: 5px;
}

.ExpirenceCards {
    display: flex;
}

.SerchingCard {
    background-color: #de601b;
    padding: 4px;
    width: 55px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


/* Gallery Images */
.GallerySession {
    background-color: #faa935;
    width: 80px;
    border-radius: 20px;
    padding-left: 14px;
}

.Gallerys {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
}

.Gallery1 {
    width: 100%;
    box-shadow: 0px 0px 10px 0px gray;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.Gallery1:hover {
    transform: scale(0.9);
}

/* SubscribePage */
.SubscribePage {
    background-color: #cae5f4;
    box-sizing: border-box;
    padding: 1px 40px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SubscribeText {
    width: 98%;
}

.SubscribeInputPage {
    height: 50px;
    background-color: aliceblue;
    width: 410px;
    border-radius: 10px;
}

.SubscribeInputPage input {
    width: 300px;
    height: 50px;
    outline: none;
    border: none;
}

.SubscribeInputPage button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #faa935;
}


/* Clintpage */
.ClintPage {
    margin: 20px;
}

.ClintSession {
    background-color: #faa935;
    width: 90px;
    border-radius: 20px;
    padding-left: 5px;
}

.Clints {
    margin: 30px;
}

.clintDetails {
    display: flex;
    margin: 10px auto;
}

.ClintImage {
    width: 70px;
}

/* ---------------------------------- */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.card {
    background: #fff;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: calc(33% - 32px);
    box-sizing: border-box;
}

.card-body {
    padding: 16px;
}

.card p {
    margin: 0 0 8px;
}

.card p:last-child {
    margin-bottom: 0;
}